In [12]:
import xgboost as xgb
import pandas as pd 
import numpy as np

In [11]:
df_numeric = pd.read_csv('train_numeric.csv')
df_numeric.head()

,Id,L0_S0_F0,L0_S0_F2,L0_S0_F4,L0_S0_F6,L0_S0_F8,L0_S0_F10,L0_S0_F12,L0_S0_F14,L0_S0_F16,...,L3_S50_F4245,L3_S50_F4247,L3_S50_F4249,L3_S50_F4251,L3_S50_F4253,L3_S51_F4256,L3_S51_F4258,L3_S51_F4260,L3_S51_F4262,Response
0,4,0.030,-0.034,-0.197,-0.179,0.118,0.116,-0.015,-0.032,0.020,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,7,0.088,0.086,0.003,-0.052,0.161,0.025,-0.015,-0.072,-0.225,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,9,-0.036,-0.064,0.294,0.330,0.074,0.161,0.022,0.128,-0.026,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,11,-0.055,-0.086,0.294,0.330,0.118,0.025,0.030,0.168,-0.169,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [14]:
X_train = df_numeric.drop(['Response', 'Id'], axis=1)
y_train = df_numeric['Response']

In [15]:
model = xgb.XGBClassifier()
model.fit(X_train, y_train)

XGBClassifier(base_score=0.5, booster=None, colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints=None,
              learning_rate=0.300000012, max_delta_step=0, max_depth=6,
              min_child_weight=1, missing=nan, monotone_constraints=None,
              n_estimators=100, n_jobs=0, num_parallel_tree=1,
              objective='binary:logistic', random_state=0, reg_alpha=0,
              reg_lambda=1, scale_pos_weight=1, subsample=1, tree_method=None,
              validate_parameters=False, verbosity=None)

In [16]:
test_numeric = pd.read_csv('test_numeric.csv')

# y_test = test_numeric['Response']

KeyError: "['Response'] not found in axis"

In [17]:
test_numeric.head()

,Id,L0_S0_F0,L0_S0_F2,L0_S0_F4,L0_S0_F6,L0_S0_F8,L0_S0_F10,L0_S0_F12,L0_S0_F14,L0_S0_F16,...,L3_S50_F4243,L3_S50_F4245,L3_S50_F4247,L3_S50_F4249,L3_S50_F4251,L3_S50_F4253,L3_S51_F4256,L3_S51_F4258,L3_S51_F4260,L3_S51_F4262
0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5,-0.016,-0.026,-0.033,-0.016,0.205,-0.157,0.0,0.008,0.087,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
X_test = test_numeric.drop(['Id'], axis=1)

In [19]:
y_pred = model.predict(X_test)

array([0, 0, 0, ..., 0, 0, 0])

In [52]:
predictions = [round(i) for i in y_pred]

In [43]:
ID = test_numeric[['Id', 'L0_S0_F0']]
ID = ID.rename(columns={'L0_S0_F0': 'Response'})

In [53]:
ID['Response'] = predictions

In [87]:
ID = ID.set_index('Id')

In [88]:
ID.to_csv('submission1.csv')
!kaggle competitions submit -c bosch-production-line-performance -f submission1.csv -m "first attempt"

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /home/ec2-user/.kaggle/kaggle.json'
100%|██████████████████████████████████████| 10.3M/10.3M [00:02<00:00, 4.41MB/s]
Successfully submitted to Bosch Production Line Performance

In [64]:
ID[ID['Response'] == 1]

              Id  Response
2606        5180         1
4629        9311         1
4659        9367         1
5973       11979         1
8457       17028         1
8458       17029         1
10510      21125         1
10552      21211         1
13887      27784         1
13888      27785         1
14140      28331         1
14141      28332         1
15678      31337         1
20171      40279         1
23337      46591         1
30288      60517         1
34739      69287         1
36376      72550         1
36506      72842         1
36507      72843         1
36508      72844         1
41568      83039         1
41569      83040         1
43407      86763         1
43906      87765         1
45444      90926         1
45662      91342         1
49934      99731         1
49935      99732         1
59030     117947         1
...          ...       ...
1075105  2149928         1
1075811  2151307         1
1078261  2156177         1
1079804  2159227         1
1080765  2161168         1
1081770  2163192         1
1088020  2175499         1
1090389  2180304         1
1094109  2187761         1
1095310  2190220         1
1095916  2191458         1
1099655  2198944         1
1100448  2200559         1
1101979  2203708         1
1104007  2207757         1
1105091  2209928         1
1106941  2213702         1
1107204  2214214         1
1107582  2214990         1
1112743  2225198         1
1113049  2225800         1
1115201  2230103         1
1117058  2233762         1
1117816  2235231         1
1119201  2238011         1
1119203  2238014         1
1120615  2240879         1
1122573  2244826         1
1122574  2244827         1
1127841  2255478         1

[591 rows x 2 columns]

In [54]:
ID.shape

(1130696, 2)

In [109]:
submision1 = pd.read_csv('sample_submission.csv')
submision1.head()

   Id  Response
0   1         0
1   2         0
2   3         0
3   5         0
4   8         0

In [110]:
submision1['Response'] = ID['Response']

In [111]:
submision1.shape

(1183748, 2)

In [114]:
submision1.head()

   Id  Response
0   1       0.0
1   2       0.0
2   3       0.0
3   5       0.0
4   8       0.0

In [113]:
submision1 = submision1.fillna(0)

In [117]:
submision1 = submision1.astype(int)

In [120]:
submision1 = submision1.set_index('Id')

In [121]:
submision1.to_csv('submission1.csv')
!kaggle competitions submit -c bosch-production-line-performance -f submission1.csv -m "first attempt"

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /home/ec2-user/.kaggle/kaggle.json'
100%|██████████████████████████████████████| 10.8M/10.8M [00:03<00:00, 3.22MB/s]
Successfully submitted to Bosch Production Line Performance

In [ ]:
# df_date = pd.read_csv('train_date.csv', nrows=50000)
# df_date.head()

In [ ]:
# df_date = pd.read_csv('train_categorical.csv', nrows=50000)
# df_date.head()

In [3]:
# train = pd.merge(
#     pd.read_csv('train_numeric.csv', nrows=500),
#     pd.read_csv('train_date.csv', nrows=500),
#     pd.read_csv('train_categorical.csv', nrows=500),
#     # on='Id',
#     left_on='Id'
# )
# train.head()

TypeError: object of type 'NoneType' has no len()